@import 'bootstrap';
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

img, iframe {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
